#content.with_image
	.hero
		=image_tag "inspiration.jpg"
	.intro
		%h2 Things To Look At
		%ul
			%li I’m Loving This on Pinterest - #{link_to "Pam Zola Weddings on Pinterest", "http://www.pinterest.com/pamzolaweddings/"}
			%li Let's be Facebook Friends - #{link_to "Pam Zola Weddings on Facebook", "https://www.facebook.com/pages/Pam-Zola-Weddings/303218319856703"}
			%li What I've been Instagram-ing - #{link_to "@pamzolaweddings", "http://instagram.com/pamzolaweddings"}
		%h2 Recommended Readings on Love, Design and Weddings
		%ul
			%li #{link_to "Why You Should Hire a Wedding Planner", "http://boothphotographics.com/why-hire-a-wedding-planner/"}
			%li #{link_to "Wedding Planning: Where to Start", "http://apracticalwedding.com/2013/06/where-to-start-wedding-planning/"}
			%li #{link_to "An anthropological, historical and endearing study on marriage - Committed", "http://www.newyorker.com/magazine/2010/01/11/hitched?currentPage=all"}
			%li #{link_to "Twenty-seven writers tell their bridal story in this fantastic collection - Altared", "http://www.strandbooks.com/weddings/altared-bridezillas-bewilderment-big-love-breakups-and-what-women-really-thing-about-contemporary-weddings"}
			%li #{link_to "Entertaining history, via novel, of the infamous and beloved diamond - The Engagements", "http://www.ew.com/ew/article/0,,20598265_20706439,00.html"}
			%li #{link_to "For Ann Patchet lovers, 'This book is about so much more than love, marriage or divorce' - This is a Story of a Happy Marriage", "http://www.nytimes.com/2013/12/23/books/this-is-the-story-of-a-happy-marriage-by-ann-patchett.html?_r=0"}
			%li #{link_to "Real stories from real brides, aka 'blogstress mavens'", "http://www.greylikesweddings.com/blogstress-mavens/"}

