#content
	.hero
		=image_tag "inspiration.jpg"
	.intro
		%h2 Things To Look At
		%ul
			%li I’m Loving This on Pinterest - #{link_to "Pam Zola Weddings on Pinterest", "http://www.pinterest.com/pamzolaweddings/"}
			%li Let's be Facebook Friends - #{link_to "Pam Zola Weddings on Facebook", "https://www.facebook.com/pages/Pam-Zola-Weddings/303218319856703"}
			%li What I've been Instagram-ing - #{link_to "@pamzolaweddings", "http://instagram.com/pamzolaweddings"}
		%h2 Recommended Readings on Love, Design and Weddings
		%ul
			%li #{link_to "Why You Should Hire a Wedding Planner", "http://boothphotographics.com/why-hire-a-wedding-planner/"}
			%li #{link_to "Wedding Planning: Where to Start", "http://apracticalwedding.com/2013/06/where-to-start-wedding-planning/"}
			%li #{link_to "You Love Wedding Planning? Great! You're Dreading it? No Problem!", "http://apracticalwedding.com/2013/10/enjoying-wedding-planning/"}

